.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  width: 80px;
  height: 120px;
  border: 2px solid #000;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: center;
  padding: 4px;
  font-size: 40px;
  font-weight: bold;
}

.card span {
  font-size: 32px;
}

.hearts,
.diamonds {
  color: red;
}

.clubs,
.spades {
  color: black;
}

.hand {
  display: flex;
  justify-content: center;
}

.back {
  width: 80px;
  height: 120px;
  border: 2px solid #000;
  background-color: white;
  border-radius: 5px;
  margin-right: -30px;
  margin-top: 30px;
  background-repeat: repeat;
}

.card:last-child {
  margin-right: 0;
}

.play {
  margin-bottom: 40px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;

}

.board {
  display: flex;
  width: 450px;
  height: 450px;
  background-color: green;
}

.hand-1 {
  display: flex;
  width: 150px;
  height: 450px;
  background-color: rgb(182, 181, 181);
  margin-right: 25px;
}

.hand-3 {
  display: flex;
  width: 150px;
  height: 450px;
  background-color: rgb(182, 181, 181);
  margin-left: 25px; 
}

.tophand {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.hand-2 {
  width: 450px;
  height: 130px;
  background-color: rgb(182, 181, 181);
  margin-bottom: 25px;
}

.scoreboard {
  display: flex;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.players {
  display: flex;
  align-items: center;
  justify-content:center;
  background-color: white;
  height: 30px;
}

.name {
  display: flex;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
}

.score {
  display: flex;
  background-color: rgb(234, 255, 196);
  justify-content: flex-end;
  width: 50px;
  height: 50px;
  margin: 5px  20px;
  border: 2px solid #000;
}

.deal {
  width: 100px;
  height: 50px;
  font-size: 30px;
  border-radius: 10px;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
