.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card span {
  font-size: 32px;
}

.hearts,
.diamonds {
  color: red;
}

.clubs,
.spades {
  color: black;
}

.hand-2 {
  display: flex;
  justify-content: center;
  transform: rotate(90deg);
  margin-right: -75px;
  margin-left: -75px;
}

.hand-4 {
  display: flex;
  justify-content: center;
  transform: rotate(90deg);
  margin-right: -75px;
  margin-left: -75px;
}

.back {
  width: 80px;
  height: 120px;
  background-color: white;
  border-radius: 5px;
  margin-right: -60px;
  background-repeat: repeat;
}

.card:last-child {
  margin-right: 0;
}

body {
  background-color: rgb(5, 148, 5);
}

.play {
  margin-bottom: 0px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.board {
  width: 450px;
  height: 450px;
  background-color: green;
  border-radius: 6px;
  background-image: url("static assets/logo 6.png");
  background-position: center;
  display: grid;
  grid-template-areas:
    ". c ."
    "b . d"
    ". a .";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.player1 {
  grid-area: a;
}

.player2 {
  grid-area: b;
}

.player3 {
  grid-area: c;
}

.player4 {
  grid-area: d;
}

.tophand {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
  margin-bottom: 12px;
}

.scoreboard {
  display: flex;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.players {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
}

.name {
  display: flex;
  padding: 15px;
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.score {
  display: flex;
  background-color: rgb(234, 255, 196);
  justify-content: flex-end;
  width: 50px;
  height: 50px;
  margin: 5px 29px;
  border: 2px solid #000;
}

.human {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
  margin-bottom: 12px;
}

.card {
  width: 80px;
  height: 120px;
  border: 1px solid #000;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: center;
  padding: 4px;
  font-size: 40px;
  font-weight: bold;
  margin-right: -60px;
  background-repeat: repeat;
}

.card:active {
  background-color: #e4e4e4;
  transform: translateY(3px);
}

.deal {
  width: 100px;
  height: 50px;
  font-size: 30px;
  border-radius: 10px;
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 2px #747474;
}

.deal:active {
  background-color: #e4e4e4;
  transform: translateY(3px);
}
